/* Overrides */
.wp-block-columns {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}
.blog-post {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #131313;
}
.blog-post-content img {
	padding-bottom: 0px;
}
figure {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom */
/*
@media (max-width: 599px) {
	.wp-block-column {
		flex-basis: 100%!important;
	}
}
@media (min-width: 600px) and (max-width: 781px) {
	.wp-block-column {
		flex-basis: calc(50% - 16px) !important;
		flex-grow: 0;
	}
	.wp-block-column:nth-child(2n) {
		margin-left: 32px;
	}
}
@media (min-width: 782px) {
	.wp-block-column {
		flex-basis: 0;
		flex-grow: 1;
	}
	.wp-block-column[style] {
		flex-grow: 0;
	}
	.wp-block-column:not(:first-child) {
		margin-left: 32px;
	}
}
*/
@media (min-width: 782px) and (max-width: 1000px) {
	.wp-block-columns.club-columns {
		flex-wrap: wrap;
	}
}

@media (max-width: 999px) {
	.wp-block-column.club-column {
		flex-basis: 100%!important;
	}
}
@media (min-width: 1000px) {
	.wp-block-column.club-column {
		flex-basis: 0;
		flex-grow: 1;
	}
	.wp-block-column.club-column[style] {
		flex-grow: 0;
	}
	.wp-block-column.club-column:not(:first-child) {
		margin-left: 32px;
	}
}

@media (max-width: 1099px) {
	.wp-block-column.club-profile {
		flex-basis: 100%!important;
	}
}
@media (min-width: 1100px) {
	.wp-block-column.club-profile {
		flex-basis: 0;
		flex-grow: 1;
	}
	.wp-block-column.club-profile[style] {
		flex-grow: 0;
	}
	.wp-block-column.club-profile:not(:first-child) {
		margin-left: 0px;
	}
}

@media (min-width: 600px) and (max-width: 781px) {
	.wp-block-column:nth-child(2n) {
		margin-left: 0px;
	}
}
@media (min-width: 782px) {
	.wp-block-column:not(:first-child) {
		margin-left: 0px;
	}
}
.club-profile-text {
	border-radius: 1000px;
	background-color: #0000FF66;
	text-align: center;
	flex-basis: 155px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 10px;
}
.club-profile-name {
	display: block;
}
.club-profile-desc {
	display: block;
	font-size: .75em;
}